@import url('https://fonts.googleapis.com/css2?family=Oswald&family=PT+Serif&family=Raleway&family=Roboto&display=swap');

body {
margin: 0;
padding: 0;
min-height: 100vh;
display: flex;
flex-direction: column;
font-family: Raleway, sans-serif;
font-weight: 300;
color: #1A3E61;
}
/*
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Raleway, sans-serif;
    font-weight: 300;
    color: #1A3E61;
}
*/
/* headings and logo */

h1, h2 {
     font-family: "PT serif", sans-serif;
     text-transform: uppercase;
     letter-spacing: 5px;
     color: #183D61;
}
h3 {
    font-family: "PT serif", sans-serif;
    font-size: 150%;
    font-weight: bold;
    text-decoration: underline;

}

#logo {
    float: left;
    font-size: 250%;

}

/* why us section */

.why-us {
    text-align: center;
} 

/* navigation links */

#menu { 
    font-size: 120%;
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 80px;
}

#menu li {
    float: right;
    list-style: none;
    margin-right: 30px;
    color: #1A3E61;
}

#menu a {
    text-decoration: none;
    color: inherit;

}
  
#menu a:hover {
    border-bottom: 1.5px solid #183D61;
}

.yogi{
    border-bottom: 1.5px solid #183D61;
}

#cover-image2 {
    height: 600px;
    width: 100%;
    background-image: url("../images/cover-image2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* gallery */

#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#photos > img {
    width: 100%;
}

/* padding contact */
#contact {
    margin-bottom: 0px;
}

.text-center {
    text-align: center;
    text-decoration: 120% bold;
}


.contact-boxes-container {
    width: 66%;
    margin: 0 auto;
    padding-bottom: 0;
}

.contact-box-left {
    width: 250px;
    margin-top: -20px;
	float: left;
}

.contact-box-right {
    width: 250px;
    text-align: right;
    margin-top: 0;
	float: right;
}

.spacer {
    clear: both;
}

.contact-box-center {
    width: 250px;
    height: 100px;
    margin: 0 auto;
    text-align: center;
}



/* footer */

footer {
    height: 100px;
    margin-top: 0%;
    color: #1A3E61;
}

.social-networks {
    text-align: center;
    color: #1A3E61;

}

.social-networks>li {
    display: inline;
    color: #1A3E61;
}

.social-networks li {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #183D61;

}

.signature {
    bottom: 100px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}


/* For medium screen sizes from 950px wide and down */
@media screen and (max-width:950px) {
    #menu {
        clear: left;
        float: left;
        margin-left: 20px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    
}